@font-face {
    font-family:"catty" ;
    src: url(CatthyWellingten.ttf);
}

h1{
    font-family: "catty";
    font-weight: 350;
    text-align: center;
    font-size:50px;
    letter-spacing: 3px;
}

.header{
    padding-bottom: 10px;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:#9a57a5 ;
    color: white;
    display:block;

}

li,ul{
    display: inline;
    text-align: center;
}


li{
    color: #f6d2fc;
    cursor:pointer;

}

li:hover{
    color:#480d52 ;
    text-decoration: none;
}


h3{
color: #853394;
text-align: start;
padding: 10px;
}

p{

    width: auto;
    margin-left: 20px;
    font-size: 1rem;
    padding-top: 5px;
}

.about{
    margin-top: 30px;
    margin-bottom: 50px;
}

.address{
    background-color: #9a57a5;
    color: white;
    padding: 20px;
}


